.env
.idea
.DS_Store

data/
src/cypress/node_modules*
src/cypress/package-lock.json

# Python cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.mypy_cache/
