#
# Application environment variables
#
APP_NAME=fastapi-app
APP_PORT=8000
# SERVER_NAME=portal.boldsystems.org
# SSL_CERT=/path/to/cert
# SSL_CERT_KEY=/path/to/key
#
# Service connection parameters
#
REDIS_HOST=redis
REDIS_PORT=6379
COUCHBASE_ENDPOINT=couchbase://couchbase
COUCHBASE_USER=Administrator
COUCHBASE_PASSWORD=password