fastapi==0.128.0
pydantic-settings==2.7.1
jinja2==3.1.6
ujson==5.11.0
gunicorn==23.0.0
uvicorn==0.34.0
redis[hiredis]==5.2.1
couchbase==4.3.4
psycopg2-binary==2.9.11
pytest==8.3.4
httpx==0.28.1
pyparsing==3.2.1
pandas==2.2.3
pillow==11.1.0
qrcode==8.0.0
setuptools>=80.0.0
wheel>=0.46.2