[defaults]
inventory = ./environments/hosts.ini
roles_path = ./roles
private_key_file=/root/.ssh/id_ed25519

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
