<!-- EU Bold customisation -->
<style>
    #logos {
        border-top: 50px solid rgb(1, 24, 38);
        background-color: #fff;
    }
    #logos img {
        max-height: 60px;
        padding: 10px;
    }
</style>
<div id="logos" class="row justify-content-center">
    <div class="justify-content-md-center">
        <img src="/static/img/logo/ibol.png" alt="International Barcode of Life" title="International Barcode of Life" />
        <img src="/static/img/logo/CFREF.png" alt="Canada First Research Excellence Fund" title="Canada First Research Excellence Fund" />
        <img src="/static/img/logo/MRI.png" alt="Ontario Ministry of Research, Innovation and Science" title="Ontario Ministry of Research, Innovation and Science" />
        <img src="/static/img/logo/CFINN.png" alt="Canada Foundation for Innovation" title="Canada Foundation for Innovation" />
        <img src="/static/img/logo/NSERC.png" alt="NSERC" title="NSERC" />
        <img src="/static/img/logo/uni-guelph.png" alt="University of Guelph" title="University of Guelph" />
    </div>
    <div class="justify-content-md-center">
        <img src="/static/img/logo/eu_co-funded.png" alt="Co-funded by the EU" title="Co-funded by the EU" />
        <img src="/static/img/logo/ch.png" alt="Swiss Confederation" title="Swiss Confederation" />
        <img src="/static/img/logo/ukri.png" alt="UK Research and Innovation" title="UK Research and Innovation" />
        <img src="/static/img/logo/naturalis.png" alt="Naturalis Biodiversity Center" title="Naturalis Biodiversity Center" />
    </div>
</div>
<!-- End of EU Bold customisation-->
