{% if wp_footer %}
<footer id="site-footer" class="site-footer footer-position-default" role="contentinfo">
    <div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
        <div data-elementor-type="wp-post" data-elementor-id="832" class="elementor elementor-832"
            data-elementor-post-type="elementskit_template">
            <div class="elementor-element elementor-element-7738c7aa e-flex e-con-boxed e-con e-parent"
                data-id="7738c7aa" data-element_type="container"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                {% include "includes/eu_bold_logos.jinja2" %}
                <div class="e-con-inner">
                    <div class="elementor-element elementor-element-5a1f37b0 e-con-full e-flex e-con e-child"
                        data-id="5a1f37b0" data-element_type="container">
                        <div class="elementor-element elementor-element-78e3616e e-con-full e-flex e-con e-child"
                            data-id="78e3616e" data-element_type="container">
                            <div class="elementor-element elementor-element-2f64fe99 e-con-full e-flex e-con e-child"
                                data-id="2f64fe99" data-element_type="container">
                                <div class="elementor-element elementor-element-5bea5d3a elementor-widget elementor-widget-image"
                                    data-id="5bea5d3a" data-element_type="widget"
                                    data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <a href="https://boldsystems.org/">
                                            <img width="2074" height="231"
                                                src="../wp-content/uploads/2023/09/BOLD-WHite-and-Orange.png"
                                                class="attachment-full size-full wp-image-22084" alt=""
                                                srcset="/wp-content/uploads/2023/09/BOLD-WHite-and-Orange.png 2074w, /wp-content/uploads/2023/09/BOLD-WHite-and-Orange-300x33.png 300w, /wp-content/uploads/2023/09/BOLD-WHite-and-Orange-1024x114.png 1024w, /wp-content/uploads/2023/09/BOLD-WHite-and-Orange-768x86.png 768w, /wp-content/uploads/2023/09/BOLD-WHite-and-Orange-1536x171.png 1536w, /wp-content/uploads/2023/09/BOLD-WHite-and-Orange-2048x228.png 2048w, /wp-content/uploads/2023/09/BOLD-WHite-and-Orange-710x79.png 710w"
                                                sizes="(max-width: 2074px) 100vw, 2074px" /> </a>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-5c9bad5d elementor-widget__width-initial elementor-widget elementor-widget-heading"
                                    data-id="5c9bad5d" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <p class="elementor-heading-title elementor-size-default">Advancing
                                            biodiversity science through DNA-based species identification.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-134f1a2f e-con-full e-flex e-con e-child"
                                data-id="134f1a2f" data-element_type="container">
                                <div class="elementor-element elementor-element-3bcdd4b0 elementor-widget elementor-widget-heading"
                                    data-id="3bcdd4b0" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">Data</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-1aad96b elementor-widget elementor-widget-elementskit-stylish-list"
                                    data-id="1aad96b" data-element_type="widget"
                                    data-widget_type="elementskit-stylish-list.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <ul class="ekit-stylish-list ">
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-66a1bd4">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/data/portal/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Portal</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-99eb4b2">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/data/data-packages/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span class="ekit-stylish-list-content-title">Data
                                                                Packages</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-3e37c78">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/data/primers/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Primers</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-560bcdd">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/data/api/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">API</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-8421664">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/data/taxonomy-page/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Taxonomy</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-8421664">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/data/caos/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">CAOS</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-607ec41">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/data/boldconnectr/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">BOLDconnectR</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-6958c3e7 e-con-full e-flex e-con e-child"
                                data-id="6958c3e7" data-element_type="container">
                                <div class="elementor-element elementor-element-c029a0d elementor-widget elementor-widget-heading"
                                    data-id="c029a0d" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">Research
                                            Tools</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-93db01c elementor-widget elementor-widget-elementskit-stylish-list"
                                    data-id="93db01c" data-element_type="widget"
                                    data-widget_type="elementskit-stylish-list.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <ul class="ekit-stylish-list ">
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-66a1bd4">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://bench.boldsystems.org/index.php/Login/page?destination=MAS_Management_UserConsole"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Workbench</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-99eb4b2">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/barcode-id/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Barcode
                                                                ID</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-6f4253d e-con-full e-flex e-con e-child"
                                data-id="6f4253d" data-element_type="container">
                                <div class="elementor-element elementor-element-269f9448 elementor-widget elementor-widget-heading"
                                    data-id="269f9448" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">About</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-2197ba1 elementor-widget elementor-widget-elementskit-stylish-list"
                                    data-id="2197ba1" data-element_type="widget"
                                    data-widget_type="elementskit-stylish-list.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <ul class="ekit-stylish-list ">
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-66a1bd4">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/about/mission/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Mission</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-99eb4b2">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/about/team/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Team</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-8421664">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/about/sponsors/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Sponsors
                                                                &amp; Partners</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-225b58a">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/about/citation/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Citation</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-6d5b8bc">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/about/contact/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Contact</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-6181cfac e-con-full e-flex e-con e-child"
                                data-id="6181cfac" data-element_type="container">
                                <div class="elementor-element elementor-element-16778a35 elementor-widget elementor-widget-heading"
                                    data-id="16778a35" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">Resources Hub
                                        </h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-c441d27 elementor-widget elementor-widget-elementskit-stylish-list"
                                    data-id="c441d27" data-element_type="widget"
                                    data-widget_type="elementskit-stylish-list.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <ul class="ekit-stylish-list ">
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-66a1bd4">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/resource-hub/faq/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">FAQ</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-99eb4b2">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/resource-hub/documentation/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Documentation</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-8421664">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/resource-hub/standards/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Standards</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-3e37c78">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/resource-hub/templates/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Templates</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    class="ekit-stylish-list-content-wrapper elementor-repeater-item-3e37c78">
                                                    <a class="ekit-wrapper-link"
                                                        href="https://boldsystems.org/communication/"></a>
                                                    <div class="ekit-stylish-list-content">
                                                        <div class="ekit-stylish-list-content-text">
                                                            <span
                                                                class="ekit-stylish-list-content-title">Communications</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-17b2a549 e-con-full e-flex e-con e-child"
                            data-id="17b2a549" data-element_type="container">
                            <div class="elementor-element elementor-element-52070a6e e-con-full e-flex e-con e-child"
                                data-id="52070a6e" data-element_type="container">
                                <div class="elementor-element elementor-element-43fa9315 elementor-widget elementor-widget-text-editor"
                                    data-id="43fa9315" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p>© BOLD Systems &amp; Biodiversity Genomics Europe. All Rights Reserved.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-51c7c977 e-con-full e-flex e-con e-child"
                                data-id="51c7c977" data-element_type="container">
                                <div class="elementor-element elementor-element-2336cdda elementor-mobile-align-left elementor-icon-list--layout-inline elementor-align-right elementor-tablet-align-right elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                    data-id="2336cdda" data-element_type="widget"
                                    data-widget_type="icon-list.default">
                                    <div class="elementor-widget-container">
                                        <ul class="elementor-icon-list-items elementor-inline-items">
                                            <li class="elementor-icon-list-item elementor-inline-item">
                                                <a href="https://boldsystems.org/policies/privacy/">
                                                    <span class="elementor-icon-list-text">Privacy Policy</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% else %}
<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <p><strong>&copy; BOLDSYSTEMS &amp; Biodiversity Genomics Europe</strong></p>
            </div>
        </div>
    </div>
</section>
{% endif %}